<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<string>0</string>
		<key>title</key>
		<string>默认标题</string>
		<key>icon</key>
		<string>listing_details_icon_note_normal</string>
		<key>cellType</key>
		<string>GAPlanAddTitleCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>70</string>
		<key>buttonIcons</key>
		<array/>
		<key>isClicked</key>
		<true/>
		<key>isVip</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>添加备注</string>
		<key>identifier</key>
		<string>1</string>
		<key>icon</key>
		<string>need_time_icon_sj</string>
		<key>cellType</key>
		<string>GAPlanAddNoteCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>90</string>
		<key>selectedIcon</key>
		<string></string>
		<key>buttonIcons</key>
		<array>
			<string>listing_details_icon_note_normal</string>
			<string>listing_details_icon_note_1</string>
			<string>listing_details_icon_note_2</string>
			<string>listing_details_icon_note_3</string>
			<string>listing_details_icon_note_kulou</string>
			<string>listing_details_icon_note_huojian</string>
		</array>
		<key>isClicked</key>
		<true/>
		<key>isVip</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>添加到清单</string>
		<key>identifier</key>
		<string>2</string>
		<key>icon</key>
		<string>listing_details_icon_listting</string>
		<key>cellType</key>
		<string>GAPlanAddBasicCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>50</string>
		<key>buttonIcons</key>
		<array/>
		<key>isClicked</key>
		<true/>
		<key>isVip</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>何时</string>
		<key>identifier</key>
		<string>3</string>
		<key>icon</key>
		<string>listing_details_icon_date</string>
		<key>cellType</key>
		<string>GAPlanAddBasicCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>50</string>
		<key>buttonIcons</key>
		<array/>
		<key>isClicked</key>
		<true/>
		<key>isVip</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>重复</string>
		<key>identifier</key>
		<string>7</string>
		<key>icon</key>
		<string>listing_details_icon_repeat</string>
		<key>cellType</key>
		<string>GAPlanAddBasicCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>50</string>
		<key>buttonIcons</key>
		<array/>
		<key>dataSource</key>
		<array>
			<string>关闭</string>
			<string>每天</string>
			<string>每周</string>
			<string>每月</string>
			<string>每年</string>
		</array>
		<key>isClicked</key>
		<true/>
		<key>isVip</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>何处</string>
		<key>identifier</key>
		<string>4</string>
		<key>icon</key>
		<string>listing_details_icon_location</string>
		<key>cellType</key>
		<string>GAPlanAddBasicCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>50</string>
		<key>buttonIcons</key>
		<array/>
		<key>isClicked</key>
		<true/>
		<key>isVip</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>添加文件</string>
		<key>identifier</key>
		<string>5</string>
		<key>icon</key>
		<string>listing_details_icon_file</string>
		<key>cellType</key>
		<string>GAPlanAddBasicCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>50</string>
		<key>buttonIcons</key>
		<array/>
		<key>isClicked</key>
		<true/>
		<key>isVip</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>添加子任务</string>
		<key>identifier</key>
		<string>6</string>
		<key>icon</key>
		<string>listing_details_icon_subtasks</string>
		<key>cellType</key>
		<string>GAPlanAddBasicCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>50</string>
		<key>buttonIcons</key>
		<array/>
		<key>isClicked</key>
		<true/>
		<key>isVip</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>identifier</key>
		<string>8</string>
		<key>icon</key>
		<string></string>
		<key>cellType</key>
		<string>GAPlanAddBasicCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>50</string>
		<key>buttonIcons</key>
		<array/>
		<key>isClicked</key>
		<false/>
		<key>isVip</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>添加</string>
		<key>identifier</key>
		<string>9</string>
		<key>icon</key>
		<string>listing_details_icon_add</string>
		<key>cellType</key>
		<string>GAPlanAddBasicCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>50</string>
		<key>buttonIcons</key>
		<array/>
		<key>isClicked</key>
		<true/>
		<key>isVip</key>
		<false/>
	</dict>
</array>
</plist>
