<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<integer>0</integer>
		<key>title</key>
		<string>图标</string>
		<key>icon</key>
		<string>listting_setting_icon_icon</string>
		<key>cellType</key>
		<string>GAPlanAddBasicCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>70</string>
		<key>buttonIcons</key>
		<array/>
		<key>isClicked</key>
		<true/>
		<key>isVip</key>
		<false/>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>1</integer>
		<key>title</key>
		<string>封面图片</string>
		<key>icon</key>
		<string>listting_setting_icon_fengmian</string>
		<key>cellType</key>
		<string>GAPlanAddBasicCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>70</string>
		<key>buttonIcons</key>
		<array/>
		<key>isClicked</key>
		<true/>
		<key>isVip</key>
		<false/>
		<key>imgData</key>
		<data></data>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>2</integer>
		<key>title</key>
		<string>颜色</string>
		<key>icon</key>
		<string>listting_setting_icon_color</string>
		<key>cellType</key>
		<string>GAPlanAddBasicCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>70</string>
		<key>buttonIcons</key>
		<array/>
		<key>isClicked</key>
		<true/>
		<key>isVip</key>
		<false/>
		<key>color</key>
		<string></string>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>4</integer>
		<key>title</key>
		<string>密码</string>
		<key>icon</key>
		<string>listting_setting_icon_password</string>
		<key>cellType</key>
		<string>GAPlanAddBasicCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>70</string>
		<key>buttonIcons</key>
		<array/>
		<key>isClicked</key>
		<true/>
		<key>isVip</key>
		<true/>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>5</integer>
		<key>title</key>
		<string>重命名</string>
		<key>icon</key>
		<string>listting_setting_icon_resetName</string>
		<key>cellType</key>
		<string>GAPlanAddBasicCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>70</string>
		<key>buttonIcons</key>
		<array/>
		<key>isClicked</key>
		<true/>
		<key>isVip</key>
		<false/>
	</dict>
</array>
</plist>
