<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<integer>0</integer>
		<key>title</key>
		<string>默认标题</string>
		<key>icon</key>
		<string>listing_details_icon_note_normal</string>
		<key>cellType</key>
		<string>GAPlanAddTitleCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>70</string>
		<key>buttonIcons</key>
		<array/>
		<key>isClicked</key>
		<true/>
		<key>isVip</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>添加备注</string>
		<key>identifier</key>
		<integer>1</integer>
		<key>icon</key>
		<string>need_time_icon_sj</string>
		<key>cellType</key>
		<string>GAPlanAddNoteCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>90</string>
		<key>selectedIcon</key>
		<string></string>
		<key>buttonIcons</key>
		<array>
			<string>listing_details_icon_note_normal</string>
			<string>listing_details_icon_note_1</string>
			<string>listing_details_icon_note_2</string>
			<string>listing_details_icon_note_3</string>
			<string>listing_details_icon_note_kulou</string>
			<string>listing_details_icon_note_huojian</string>
		</array>
		<key>isClicked</key>
		<true/>
		<key>isVip</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>添加到清单</string>
		<key>identifier</key>
		<integer>2</integer>
		<key>icon</key>
		<string>listing_details_icon_listting</string>
		<key>cellType</key>
		<string>GAPlanAddBasicCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>50</string>
		<key>buttonIcons</key>
		<array/>
		<key>isClicked</key>
		<true/>
		<key>isVip</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>指定时间</string>
		<key>identifier</key>
		<integer>7</integer>
		<key>icon</key>
		<string>listing_details_icon_repeat</string>
		<key>cellType</key>
		<string>GAPlanAddBasicCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>50</string>
		<key>buttonIcons</key>
		<array/>
		<key>dataSource</key>
		<array>
			<string>指定时间</string>
			<string>每分</string>
			<string>每天</string>
		</array>
		<key>isClicked</key>
		<true/>
		<key>isVip</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>选择日期</string>
		<key>identifier</key>
		<integer>12</integer>
		<key>icon</key>
		<string>listing_details_icon_date</string>
		<key>cellType</key>
		<string>GAPlanAddBasicCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>50</string>
		<key>buttonIcons</key>
		<array/>
		<key>isClicked</key>
		<true/>
		<key>isVip</key>
		<false/>
		<key>isShow</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>周几提醒</string>
		<key>identifier</key>
		<integer>13</integer>
		<key>icon</key>
		<string>listing_details_icon_date</string>
		<key>cellType</key>
		<string>GASelectedDataCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>80</string>
		<key>buttonIcons</key>
		<array/>
		<key>isClicked</key>
		<true/>
		<key>isVip</key>
		<false/>
		<key>isShow</key>
		<false/>
		<key>dataSource</key>
		<array>
			<string>星期一</string>
			<string>星期二</string>
			<string>星期三</string>
			<string>星期四</string>
			<string>星期五</string>
			<string>星期六</string>
			<string>星期日</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>选择时间</string>
		<key>identifier</key>
		<integer>11</integer>
		<key>icon</key>
		<string>listing_details_icon_time</string>
		<key>cellType</key>
		<string>GAPlanAddBasicCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>50</string>
		<key>buttonIcons</key>
		<array/>
		<key>isClicked</key>
		<true/>
		<key>isVip</key>
		<false/>
		<key>isShow</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>何处</string>
		<key>identifier</key>
		<integer>4</integer>
		<key>icon</key>
		<string>listing_details_icon_location</string>
		<key>cellType</key>
		<string>GAPlanAddBasicCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>50</string>
		<key>buttonIcons</key>
		<array/>
		<key>isClicked</key>
		<true/>
		<key>isVip</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>跟谁</string>
		<key>identifier</key>
		<integer>10</integer>
		<key>icon</key>
		<string>listing_details_icon_people</string>
		<key>cellType</key>
		<string>GAPlanAddBasicCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>50</string>
		<key>buttonIcons</key>
		<array/>
		<key>isClicked</key>
		<true/>
		<key>dataSource</key>
		<array>
			<string>爸爸</string>
			<string>妈妈</string>
			<string>老婆</string>
			<string>女朋友</string>
			<string>姐姐</string>
			<string>弟弟</string>
			<string>哥哥</string>
		</array>
		<key>isVip</key>
		<false/>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>添加文件</string>
		<key>identifier</key>
		<integer>5</integer>
		<key>icon</key>
		<string>listing_details_icon_file</string>
		<key>cellType</key>
		<string>GAPlanAddBasicCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>50</string>
		<key>buttonIcons</key>
		<array/>
		<key>isClicked</key>
		<true/>
		<key>isVip</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>添加子任务</string>
		<key>identifier</key>
		<integer>6</integer>
		<key>icon</key>
		<string>listing_details_icon_subtasks</string>
		<key>cellType</key>
		<string>GAPlanAddBasicCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>50</string>
		<key>buttonIcons</key>
		<array/>
		<key>isClicked</key>
		<true/>
		<key>isVip</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>identifier</key>
		<integer>8</integer>
		<key>icon</key>
		<string></string>
		<key>cellType</key>
		<string>GAPlanAddBasicCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>50</string>
		<key>buttonIcons</key>
		<array/>
		<key>isClicked</key>
		<false/>
		<key>isVip</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>添加</string>
		<key>identifier</key>
		<integer>9</integer>
		<key>icon</key>
		<string>listing_details_icon_add</string>
		<key>cellType</key>
		<string>GAPlanAddBasicCell</string>
		<key>isEdited</key>
		<false/>
		<key>editText</key>
		<string></string>
		<key>height</key>
		<string>50</string>
		<key>buttonIcons</key>
		<array/>
		<key>isClicked</key>
		<true/>
		<key>isVip</key>
		<false/>
	</dict>
</array>
</plist>
